@media screen and (max-width: 768px) {
	/* 480px以下に適用されるCSS（スマホ用） */

   /* 2ndーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
 /* MOVIE  */
  .movie{
    display: none;
  }

  .movie_sp{
    display: block;
    width: 100vw;
    height: 100vh;
    object-fit: cover;
  }

}