/* Webフォント読み込み */
@font-face {
	font-family: PixelMplus10-Regular;
	src: url('PixelMplus/PixelMplus12-Bold.ttf') format("truetype");
}
.font{
  font-size: 45px;
  font-weight: bold;
  font-family: PixelMplus10-Regular;
}

/* headerの固定CSS */
header {
  display: none;
  font-size: 1.5rem;  
  position: fixed;
  bottom: 7px;
  right: 10px;
  z-index: 35;
}

.music{
  width: 290px;
  height: 32px;
}

/* mainスタート */
  body {
    position: relative;
    width: 100%;
  }
  
  main {
    width: 100vw;
  }

  .body{
    background-color: black;
  }

   /* 点滅 */
   .blinking{
    -webkit-animation:blink 1.5s ease-in-out infinite alternate;
      -moz-animation:blink 1.5s ease-in-out infinite alternate;
      animation:blink 3s ease-in-out infinite alternate;
  }
  @-webkit-keyframes blink{
      0% {opacity:0;}
      100% {opacity:1;}
  }
  @-moz-keyframes blink{
      0% {opacity:0;}
      100% {opacity:1;}
  }
  @keyframes blink{
      0% {opacity:0;}
      100% {opacity:1;}
  }
  

  /* 1stーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  .wrapper1 {
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 30;
  }

  /* .title p:first-child{
    text-align: center;
  } */

  .title p{
    text-align: center;
  }

  /* .title > p:first-child{
    margin-bottom: 80px;
  } */
  .title > p:nth-child(1){
    margin-bottom: 97px;
  }

  .btn1{
    width: 130px;
    height: 130px;
  }

  .caution{
    width: 440px;
    height: 24.2px;
  }

  .wrapper1.close{
    display: none;
  }


  /* 2ndーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  .wrapper2{
    height: 100vh;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 10;

    /* display: none; */
  }

  .wrapper2 video{
    width: 100%;
    height: 100%;
  }

  .wrapper2.close{
    display: none;
  }
  

  /* 3rdーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  .wrapper3 {
    height: 100vh;
    width: 100%;
    /* background-color: rgba(255, 252, 252, 0.822); */
    
    /* 位置調整 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    opacity: 0;
  }

  .wra3_container{
    height: 100%;
    width: 100%;
    /* 位置調整 */
    position: absolute;
    top: 0;
    left: 0;
    z-index: 20;

    display: none;
  }

  .box{
    /* display: none; */
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }

  .btn2{
    width: 85px;
    height: 85px;
  }

  .box > span{
    font-size: 49px;
    border-bottom: solid 2px;
  }

  /* アニメーション */
  .wra3_container.open{
    display: flex;
    justify-content: center;
    align-items: flex-end;
  }

  .box.open{
    display: flex;
    align-items: center;
    margin-bottom: 10px;
  }  

  .wrapper3.open{
    opacity: 1;
    animation-name:fadeInAnime;
    animation-duration:3s;
    animation-fill-mode:forwards;
  }
  @keyframes fadeInAnime{
    from {
      opacity: 0;
    }
  
    to {
      opacity: 1;
    }
  }

  .wrapper3.open.close{
    display: none;
  }

  /* 4thーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
  .wrapper4{
    display: none;
    height: 100%;
    width: 100%;
  }

  .wrapper4 iframe {
    height: 200vh;
    width: 100%;
  }

  /* @media screen and (max-width:767px){
    .wrapper4 iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 200vh;
    }
  } */

  .wrapper4.open{
    display: flex;
    justify-content: center;
  }

  .border1{
    position: absolute;
    top: 36.5rem;
    z-index: 30;

    border: solid 5px red;
    width: 90vw;
    height: 87px;
  }

  .border2{
    position: absolute;
    top: 63rem;
    z-index: 30;

    border: solid 5px blue;
    width: 90vw;
    height: 86px;
  }

  .border3{
    position: absolute;
    top: 75rem;
    z-index: 30;

    border: solid 5px green;
    width: 90vw;
    height: 86px;
  }

  .gif,.gif1{
    width:50px;
    height: 80px;
    text-align: left;
  }
