/* Webフォント読み込み */
@font-face {
  font-family: PixelMplus10-Regular;
  src: url('PixelMplus/PixelMplus12-Bold.ttf') format("truetype");
}

.font {
  font-size: 45px;
  font-weight: bold;
  font-family: PixelMplus10-Regular;
}

/* header部分 */
.header {
  position: fixed;
  bottom: 15px;
  right: 29px;
  z-index: 35;
}


/* mainスタート */
body {
  position: relative;
}

main {
  width: 100%;
  height: 100vh;
}

.body {
  background-color: black;
}

/* 点滅 */
.blinking {
  -webkit-animation: blink 1.5s ease-in-out infinite alternate;
  -moz-animation: blink 1.5s ease-in-out infinite alternate;
  animation: blink 3s ease-in-out infinite alternate;
}

@-webkit-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-moz-keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes blink {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

/* indexーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
.wrapper1 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.title p {
  text-align: center;
}

.title>p:nth-child(1) {
  margin-bottom: 97px;
}

.btn1 {
  width: 130px;
  height: 130px;
}

.caution {
  width: 440px;
  height: 24.2px;
}

.caution_sp {
  display: none;
}

/* 2ndーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 動画リモコン */
.controller {
  position: fixed !important;
  right: 45px;
  bottom: 28px;
  z-index: 1000;
}

#volume {
  width: 74px;
}

#volume:hover {
  width: 129px;
  transition: 0.8s;
}

#icon {
  width: 24px;
  height: 26px;
}

.btn_icon {
  border: 0.5px solid;
  border-radius: 50%;
  border-width: 0.5px;
  padding: 4px 8px;
  background-color: white;
}

/* MOVIE  */
.wrapper2 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
}

.movie {
  width: 100vw;
  height: 100vh;
  object-fit: cover;
}

.movie_sp {
  display: none;
}


/* TEXT  */
.wrapper3 {
  height: 100vh;
  width: 100%;

  /* 位置調整 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  /* 非表示 */
  opacity: 0;
}

.wra3_container {
  height: 100%;
  width: 100%;
  /* 位置調整 */
  position: absolute;
  top: 0;
  left: 0;
  z-index: 20;
  /* 非表示 */
  display: none;
}

.box {
  position: fixed;
  bottom: 6px;
  /* 非表示 */
  display: none;
}

.btn2 {
  width: 85px;
  height: 85px;
}

.box>span {
  font-size: 49px;
  border-bottom: solid 2px;
}

/* アニメーション */
.wra3_container.open {
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

.box.open {
  display: flex;
  align-items: center;
}

.box-btn {
  display: flex;
  align-items: center;
}

.wrapper3.open {
  opacity: 1;
  animation-name: fadeInAnime;
  animation-duration: 3s;
  animation-fill-mode: forwards;
}

@keyframes fadeInAnime {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}



/* 3rdーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーーー */
/* 音楽リモコン */
.sound_controller {
  position: fixed !important;
  right: 45px;
  bottom: 28px;
  z-index: 1000;

  display: flex;
  align-items: center;

}

#play {
  width: 3rem;

  margin-right: 21px;
}

#icon2 {
  width: 1.7rem;
}


.wrapper4 {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
}

.wrapper4 iframe {
  height: 3350px;
  width: 100%;
}


input[type="range"] {
  appearance: auto;
  cursor: default;
  color: -internal-light-dark(rgb(16, 16, 16), rgb(255, 255, 255));
  padding: initial;
  border: initial;
  margin: 2px;
}